<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Smart Table</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow justify-content-between mb-3">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Smart Table</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            @{
                                if((int)ViewData["user_role"] == 3)
                                {
                                <li class="nav-item">
                                    <a class="nav-item nav-link" asp-area="" asp-controller="Recommendation" asp-action="OpenRecommendationsView">Rekomendacijos</a>
                                </li>
                                }
                                if ((int)ViewData["user_role"] == 2)
                                {
                                    <li class="nav-item">
                                        <a class="nav-item nav-link" asp-area="" asp-controller="Notifications" asp-action="OpenNotificationsView">Įvykių valdymas</a>
                                    </li>
                                }
                                if ((int)ViewData["user_role"] == 2)
                                {
                                    <li class="nav-item">
                                        <a class="nav-item nav-link" asp-area="" asp-controller="ViewTables" asp-action="OpenViewTablesView">Stalų peržiūra</a>
                                    </li>
                                }
                                if ((int)ViewData["user_role"] == 1 || (int)ViewData["user_role"] == 2)
                                {
                                    <li class="nav-item">
                                        <a class="nav-item nav-link" asp-area="" asp-controller="ManageOrders" asp-action="OpenManageOrdersView">Užsakymų valdymas</a>
                                    </li>
                                }

                                if ((int)ViewData["user_role"] == 1)
                                {
                                    <li class="nav-item">
                                        <a class="nav-item nav-link" asp-area="" asp-controller="ManageRegisteredUsers" asp-action="OpenManageRegisteredUsersView">Naudotojų valdymas</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </nav>
                @{
                    if ((int)ViewData["user_role"] == 3)
                    {

                        <a id="table_code" class="nav-item navbar-text">Stalo kodas: @ViewData["table_code"]  </a>
                        <a id="order_button" class="nav-item nav-link btn btn-secondary btn-sm" asp-controller="ManageOrder" asp-action="openManageOrderView">Valdyti užsakymą</a>
                        <a id="bill_button" class="nav-item nav-link btn btn-secondary btn-sm" asp-controller="Payment" asp-action="openPaymentView">Apmokėti sąskaitą</a>
                    }
                }
            </div>
            @{
                if ((int)ViewData["user_role"] != 3)
                {
                    <a class="nav-item navbar-text" asp-controller="Home" asp-action="logout">Atsijungti</a>
                }
            }
        </nav>
    </header>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Smart Table
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
