@model smart_table.Models.Discounts

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Discounts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DiscountCode" class="control-label"></label>
                <input asp-for="DiscountCode" class="form-control" />
                <span asp-validation-for="DiscountCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StandUntil" class="control-label"></label>
                <input asp-for="StandUntil" class="form-control" />
                <span asp-validation-for="StandUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountProc" class="control-label"></label>
                <input asp-for="DiscountProc" class="form-control" />
                <span asp-validation-for="DiscountProc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
