@model smart_table.Models.DataBase.RegisteredUser

@{
    ViewData["Title"] = "Ištrinti padavėja";
}

<h3>Ar tikrai norite ištrinti padavėją @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Taip" class="btn btn-primary" /> |
        <a asp-action="Index" class="btn btn-secondary">Ne</a>
    </form>
</div>
