@model smart_table.Models.OrderDishes
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Įtraukti patiekalą į užsakymą";

}

<h3>Įtraukti patiekalą į užsakymą</h3>
@if ((string)ViewData["message"] != null)
{
    <div class="alert alert-info" role="alert">
        @ViewData["message"]
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addDish">
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" value="1" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea rows=3 asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Įtraukti" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="goBack">Grįžti atgal</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
