@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Namų puslapis";

}

<div class="text-center">
    <h1 class="display-4">Smart table</h1>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-item nav-link" asp-area="" asp-action="ConnectAsCustomer">Klientas</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" asp-area="" asp-action="ConnectAsWaiter">Padavėjas</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" asp-area="" asp-action="ConnectAsAdmin">Administratorius</a>
            </li>
        </ul>
    </div>
</div>
