@model smart_table.Models.Orders

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Submitted" /> @Html.DisplayNameFor(model => model.Submitted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Served" /> @Html.DisplayNameFor(model => model.Served)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FkBills" class="control-label"></label>
                <select asp-for="FkBills" class="form-control" asp-items="ViewBag.FkBills"></select>
                <span asp-validation-for="FkBills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkRegisteredUsers" class="control-label"></label>
                <select asp-for="FkRegisteredUsers" class="form-control" asp-items="ViewBag.FkRegisteredUsers"></select>
                <span asp-validation-for="FkRegisteredUsers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkCustomerTables" class="control-label"></label>
                <select asp-for="FkCustomerTables" class="form-control" asp-items="ViewBag.FkCustomerTables"></select>
                <span asp-validation-for="FkCustomerTables" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
