<form>
    <div class="form-group">
        <label>Stalo kodas</label>
        <input type="email" class="form-control" id="1234" aria-describedby="tableCode" placeholder="Stalo kodas">
    </div>
    <button type="submit" class="btn btn-primary">Prisijungti</button>
</form>