@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Rekomendacijos";
}

<h1>Rekomendacijos</h1>

<p>
    <a asp-action="Create"></a>
</p>
