@model smart_table.Models.CustomerTables
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Ar tikrai norite prisiskirti šį staliuką (ID=@Html.DisplayFor(model => model.Id))?</h3>
<div>
    <form asp-action="AssignTable">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Taip" class="btn btn-primary" /> |
        <a asp-action="BackToPrevious" class="btn btn-secondary">Ne</a>
    </form>
</div>
